* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Overpass', sans-serif;
    background-color: hsl(216, 12%, 8%);
}

.support-card-container {
    width: 420px;
    height: 420px;
    border-radius: 40px;
    margin: auto;
    margin-top: 10%;
    background-color: hsl(213, 19%, 18%);
}

.star {
    padding: 1em;
    background-color: blueviolet;
    margin-top: 3em;
    border-radius: 50%;
}


.heading {
    margin-top: 1em;
    font-weight: 700;
    color: #FFFFFF;
}

.wrapper p {
    margin-top: 0.5em;
    font-weight: 400;
    color: hsl(217, 12%, 63%);
}

.wrapper {
    margin: 1.7em;
}

.card_numbers {
    justify-content: space-between;
    display: flex;
    font-weight: bold;
    margin-top: 2em;
}

.circle {
    height: 60px;
    width: 55px;
    background: hsl(216, 12%, 30%);
    border-radius: 50%;
    border-radius: 50%;
    padding-top: 6%;
    padding-left: 6%;
    font-weight: 700;
    color: #FFFFFF;
}

:hover.circle {
    background-color: hsl(217, 12%, 63%);
    cursor: pointer;
}

:active.circle {
    background-color: hsl(25, 97%, 53%);
}

input[type="radio"] {
    display: none;
}

.submit {
    height: 56px;
    width: 365px;
    border-radius: 50px;
    display: block;
    margin: auto;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
    background-color: hsl(25, 97%, 53%);
    border: none
}

:active.submit {
    background-color: #FFFFFF;
    color: hsl(25, 97%, 53%);
    cursor: pointer;

}

/* thank you card */
.appreciation-card-container {
    width: 420px;
    height: 420px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 40px;
    margin: auto;
    margin-top: 10%;
}

#appreciationCard {
    display: none;
}

.wrapper-appreciation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description h1 {
    color: #FFFFFF;
}

.rating-display {
    background: hsl(216, 12%, 30%);
    border-radius: 1em;
    padding: 1% 7%;
    color: hsl(25, 97%, 53%);
    margin: 5%;
}

.description p {
    text-align: center;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.7em;
    font-size: 0.9rem;
    width: 350px;
    margin: 10%;
    color: hsl(217, 12%, 63%);
}


.thank-you {
    margin: 5%;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    50% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(10deg);
    }
}


@media all and (min-width: 500px) {
    .card {
        padding: 1.9em;
        width: 100%;
    }
}